# Predicting Gang Violence

Using a data set from buzzfeed and local police departments, we will create a model based on features from the data to predict if a crime occured is gang realted or not.

## EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('offenses-standardized.csv')
something = pd.read_csv('offenses-standardized.csv')

C:\Users\Akshay Indusekar\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,7,10,14,15,16,17,18,19,20,21,22,24,25,27,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,row_hash,source,agency_name,agency_ori,agency_incident_id,occurred_date,occurred_time,offense_category,top_ucr_classification,top_local_classification,...,victim_race,victim_ethnicity,victim_race_condensed,victim_sex,case_status,arrest_ind,clearance_status,clearance_group,clearance_date,arrest_date
0,MDBPD0000-C419771020-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0351,2017-07-26,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,...,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
1,MDBPD0000-B63BECA76C-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17H0198,2017-07-26,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,...,BLACK,NaN,BLACK/HISPANIC,FEMALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
2,MDBPD0000-8A7079014F-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0349,2017-07-25,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,...,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
3,MDBPD0000-3EF6B5EBEF-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0348,2017-07-25,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,...,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
4,MDBPD0000-5995BFA411-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0346,2017-07-24,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,...,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN

In [4]:
df.top_local_classification.unique()

array(['NON FATAL SHOOTING', 'HOMICIDE SHOOTING', 'HOMICIDE BEATING', ...,
       'ASSAULT 2ND DEGREE INTENTIONAL INJURY TO PERSON RENDERING EMERGENCY CARE',
       'ASSAULT 2ND DEGREE INTENTIONAL INJURY TO AMBULANCE OPERATOR/NURSE/PARAMEDIC/MEDICAL DOCTOR WHILE PERFORMING WORK RELATED DUTY',
       'ASSAULT FIRST DEGREE- INTENTIONALLY DISFIGURE DESTROY AMPUTATE DISABLE'],
      dtype=object)

In [5]:
# I want to see all my columns, so I set my columns diplay options to max

pd.set_option('display.max_columns', None)

In [6]:
# We want crimes associated with gang activity, so we will be looking at the 'N' and 'Y' columns.

df.gang_activity_ind.value_counts(normalize = True)

N              0.584448
UNSPECIFIED    0.248238
Y              0.141642
UNKNOWN        0.020615
MISSING        0.003340
POS            0.000786
UNK            0.000511
UNCLEAR        0.000225
INV            0.000112
REL            0.000056
MAY            0.000011
NP             0.000006
NO0            0.000006
NOT            0.000006
Name: gang_activity_ind, dtype: float64

In [7]:
df.head()

,row_hash,source,agency_name,agency_ori,agency_incident_id,occurred_date,occurred_time,offense_category,top_ucr_classification,top_local_classification,nibrs_code,weapon,firearm_ind,offense_group,domestic_violence_ind,family_violence_ind,gang_activity_ind,relationship_to_offender,circumstance,inside_outside,victim_age,victim_race,victim_ethnicity,victim_race_condensed,victim_sex,case_status,arrest_ind,clearance_status,clearance_group,clearance_date,arrest_date
0,MDBPD0000-C419771020-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0351,2017-07-26,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,22,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
1,MDBPD0000-B63BECA76C-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17H0198,2017-07-26,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,53,BLACK,NaN,BLACK/HISPANIC,FEMALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
2,MDBPD0000-8A7079014F-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0349,2017-07-25,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,19,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
3,MDBPD0000-3EF6B5EBEF-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0348,2017-07-25,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,29,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
4,MDBPD0000-5995BFA411-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0346,2017-07-24,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,22,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN

In [8]:
df.family_violence_ind.value_counts(normalize = True)

N          0.915438
Y          0.080121
MISSING    0.004330
UNCLEAR    0.000111
Name: family_violence_ind, dtype: float64

In [9]:
df.isnull().sum()

row_hash                         0
source                           0
agency_name                      0
agency_ori                       0
agency_incident_id               0
occurred_date                   86
occurred_time                18564
offense_category            316594
top_ucr_classification      108303
top_local_classification     44977
nibrs_code                  710134
weapon                       51689
firearm_ind                      0
offense_group                    0
domestic_violence_ind       278195
family_violence_ind         702626
gang_activity_ind           569490
relationship_to_offender    582469
circumstance                729749
inside_outside              744816
victim_age                  469869
victim_race                 459988
victim_ethnicity            546069
victim_race_condensed            0
victim_sex                  460048
case_status                 419985
arrest_ind                   59759
clearance_status            390403
clearance_group                  0
clearance_date              732207
arrest_date                 662393
dtype: int64

In [10]:
yes = df.loc[df['gang_activity_ind'] == 'Y']

In [11]:
yes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25236 entries, 274808 to 502656
Data columns (total 31 columns):
row_hash                    25236 non-null object
source                      25236 non-null object
agency_name                 25236 non-null object
agency_ori                  25236 non-null object
agency_incident_id          25236 non-null object
occurred_date               25236 non-null object
occurred_time               24824 non-null object
offense_category            25112 non-null object
top_ucr_classification      21838 non-null object
top_local_classification    24823 non-null object
nibrs_code                  287 non-null object
weapon                      24358 non-null object
firearm_ind                 25236 non-null object
offense_group               25236 non-null object
domestic_violence_ind       3922 non-null object
family_violence_ind         996 non-null object
gang_activity_ind           25236 non-null object
relationship_to_offender    3930 non-null object
circumstance                692 non-null object
inside_outside              65 non-null object
victim_age                  24430 non-null object
victim_race                 25211 non-null object
victim_ethnicity            23370 non-null object
victim_race_condensed       25236 non-null object
victim_sex                  25218 non-null object
case_status                 25110 non-null object
arrest_ind                  21964 non-null object
clearance_status            25128 non-null object
clearance_group             25236 non-null object
clearance_date              252 non-null object
arrest_date                 144 non-null object
dtypes: object(31)
memory usage: 6.2+ MB

In [12]:
df.head()

,row_hash,source,agency_name,agency_ori,agency_incident_id,occurred_date,occurred_time,offense_category,top_ucr_classification,top_local_classification,nibrs_code,weapon,firearm_ind,offense_group,domestic_violence_ind,family_violence_ind,gang_activity_ind,relationship_to_offender,circumstance,inside_outside,victim_age,victim_race,victim_ethnicity,victim_race_condensed,victim_sex,case_status,arrest_ind,clearance_status,clearance_group,clearance_date,arrest_date
0,MDBPD0000-C419771020-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0351,2017-07-26,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,22,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
1,MDBPD0000-B63BECA76C-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17H0198,2017-07-26,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,53,BLACK,NaN,BLACK/HISPANIC,FEMALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
2,MDBPD0000-8A7079014F-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0349,2017-07-25,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,19,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
3,MDBPD0000-3EF6B5EBEF-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0348,2017-07-25,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,29,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN
4,MDBPD0000-5995BFA411-01-01,BALTIMORE-MAIN,BALTIMORE-PD,MDBPD0000,17V0346,2017-07-24,NaN,NON FATAL SHOOTING,NaN,NON FATAL SHOOTING,NaN,FIREARM,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,NaN,NaN,22,BLACK,NaN,BLACK/HISPANIC,MALE,OPEN,NaN,OPEN,Open & No Arrest-Unspecified,NaN,NaN

In [13]:
df2 = df.drop(columns = ['row_hash','arrest_date','clearance_date','clearance_group','clearance_status','case_status',
                   'victim_race_condensed','victim_ethnicity','circumstance','relationship_to_offender',
                  'weapon','nibrs_code','top_local_classification','top_ucr_classification',
                  'agency_name','agency_ori','agency_incident_id', 'occurred_time'])
df2

,source,occurred_date,offense_category,firearm_ind,offense_group,domestic_violence_ind,family_violence_ind,gang_activity_ind,inside_outside,victim_age,victim_race,victim_sex,arrest_ind
0,BALTIMORE-MAIN,2017-07-26,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,22,BLACK,MALE,NaN
1,BALTIMORE-MAIN,2017-07-26,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,53,BLACK,FEMALE,NaN
2,BALTIMORE-MAIN,2017-07-25,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,19,BLACK,MALE,NaN
3,BALTIMORE-MAIN,2017-07-25,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,29,BLACK,MALE,NaN
4,BALTIMORE-MAIN,2017-07-24,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,22,BLACK,MALE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
747653,WILMINGTON-MAIN,2018-03-18,AGGRAVATED ASSAULT,Y,Agg Assault - Gun,N,N,NaN,NaN,NaN,NaN,NaN,N
747654,WILMINGTON-MAIN,2018-03-18,AGGRAVATED ASSAULT,Y,Agg Assault - Gun,N,N,NaN,NaN,NaN,NaN,NaN,N
747655,WILMINGTON-MAIN,2018-03-18,AGGRAVATED ASSAULT,N,Agg Assault - Other Weapon,N,N,NaN,NaN,NaN,NaN,NaN,N
747656,WILMINGTON-MAIN,2018-03-20,AGGRAVATED ASSAULT,N,Agg Assault - Other Weapon,N,N,NaN,NaN,NaN,NaN,NaN,N
747657,WILMINGTON-MAIN,2018-03-20,AGGRAVATED ASSAULT,N,Agg Assault - Other Weapon,N,N,NaN,NaN,NaN,NaN,NaN,N

In [14]:
df2.offense_category.value_counts()

AGGRAVATED ASSAULT                               160633
AGG ASSAULT                                      140043
AGG ASSAULT - OTHER WEAPON                        64534
HOMICIDE                                          20360
AGG ASSAULT - FIREARM - DISCHARGE UNSPECIFIED      8999
AGG ASSAULT - SHOOTING - NON-FATAL                 7426
MURDER                                             5609
AGG ASSAULT - SHOOTING - HIT UNSPECIFIED           5589
AGG ASSAULT - UNSPECIFIED WEAPON                   4030
NON-FATAL SHOOTING                                 3755
NON FATAL SHOOTING                                 3621
AGG ASSAULT - SHOOTING - NO HIT                    3076
HOMICIDE - CRIMINAL - SHOOTING - FATAL             1730
NON-FATAL-SHOOTING                                  908
HOMICIDE - CRIMINAL - OTHER WEAPON                  608
MURDER AND NON-NEGLIGENT MANSLAUGHTER               138
HOMICIDE - CRIMINAL - UNSPECIFIED WEAPON              5
Name: offense_category, dtype: int64

In [15]:
df2.offense_category = df2.offense_category.replace(to_replace ='AGGRAVATED ASSAULT', value =  'AGGRAVATED_ASSAULT')

In [87]:
df2.rename(columns = {'AGGRAVATED ASSAULT': 'AGGRAVATED_ASSAULT'}, inplace = True)

In [16]:
df2.offense_category.replace(to_replace= 'AGG ASSAULT', value = 'AGGRAVATED_ASSAULT', inplace = True)

In [17]:
df2.offense_category.value_counts()

AGGRAVATED_ASSAULT                               300676
AGG ASSAULT - OTHER WEAPON                        64534
HOMICIDE                                          20360
AGG ASSAULT - FIREARM - DISCHARGE UNSPECIFIED      8999
AGG ASSAULT - SHOOTING - NON-FATAL                 7426
MURDER                                             5609
AGG ASSAULT - SHOOTING - HIT UNSPECIFIED           5589
AGG ASSAULT - UNSPECIFIED WEAPON                   4030
NON-FATAL SHOOTING                                 3755
NON FATAL SHOOTING                                 3621
AGG ASSAULT - SHOOTING - NO HIT                    3076
HOMICIDE - CRIMINAL - SHOOTING - FATAL             1730
NON-FATAL-SHOOTING                                  908
HOMICIDE - CRIMINAL - OTHER WEAPON                  608
MURDER AND NON-NEGLIGENT MANSLAUGHTER               138
HOMICIDE - CRIMINAL - UNSPECIFIED WEAPON              5
Name: offense_category, dtype: int64

In [18]:
df2.offense_category.replace(to_replace= ['AGG ASSAULT - OTHER WEAPON','AGG ASSAULT - FIREARM - DISCHARGE UNSPECIFIED'], value = 'AGGRAVATED_ASSAULT', inplace = True)

In [19]:
df2.offense_category.value_counts()

AGGRAVATED_ASSAULT                          374209
HOMICIDE                                     20360
AGG ASSAULT - SHOOTING - NON-FATAL            7426
MURDER                                        5609
AGG ASSAULT - SHOOTING - HIT UNSPECIFIED      5589
AGG ASSAULT - UNSPECIFIED WEAPON              4030
NON-FATAL SHOOTING                            3755
NON FATAL SHOOTING                            3621
AGG ASSAULT - SHOOTING - NO HIT               3076
HOMICIDE - CRIMINAL - SHOOTING - FATAL        1730
NON-FATAL-SHOOTING                             908
HOMICIDE - CRIMINAL - OTHER WEAPON             608
MURDER AND NON-NEGLIGENT MANSLAUGHTER          138
HOMICIDE - CRIMINAL - UNSPECIFIED WEAPON         5
Name: offense_category, dtype: int64

In [20]:
df2.offense_category.replace(to_replace= ['AGG ASSAULT - SHOOTING - NON-FATAL','AGG ASSAULT - SHOOTING - HIT UNSPECIFIED','AGG ASSAULT - UNSPECIFIED WEAPON', 'AGG ASSAULT - SHOOTING - NO HIT'], value = 'AGGRAVATED_ASSAULT', inplace = True)

In [21]:
df2.offense_category.value_counts()

AGGRAVATED_ASSAULT                          394330
HOMICIDE                                     20360
MURDER                                        5609
NON-FATAL SHOOTING                            3755
NON FATAL SHOOTING                            3621
HOMICIDE - CRIMINAL - SHOOTING - FATAL        1730
NON-FATAL-SHOOTING                             908
HOMICIDE - CRIMINAL - OTHER WEAPON             608
MURDER AND NON-NEGLIGENT MANSLAUGHTER          138
HOMICIDE - CRIMINAL - UNSPECIFIED WEAPON         5
Name: offense_category, dtype: int64

In [22]:
df2.offense_category.dropna(inplace = True)
df2.offense_category.unique()

array(['NON FATAL SHOOTING', 'HOMICIDE', 'NON-FATAL SHOOTING', 'MURDER',
       'AGGRAVATED_ASSAULT', 'MURDER AND NON-NEGLIGENT MANSLAUGHTER',
       'HOMICIDE - CRIMINAL - SHOOTING - FATAL',
       'HOMICIDE - CRIMINAL - OTHER WEAPON',
       'HOMICIDE - CRIMINAL - UNSPECIFIED WEAPON', 'NON-FATAL-SHOOTING'],
      dtype=object)

In [28]:
df2.offense_category.value_counts()

AGGRAVATED_ASSAULT    394330
HOMICIDE               28450
NON_FATAL_SHOOTING      8284
Name: offense_category, dtype: int64

In [29]:
df2.offense_category.unique()

array(['NON_FATAL_SHOOTING', 'HOMICIDE', 'AGGRAVATED_ASSAULT'],
      dtype=object)

In [25]:
df2.offense_category.replace(to_replace= ['NON-FATAL SHOOTING','NON FATAL SHOOTING','NON-FATAL-SHOOTING'], value = 'NON_FATAL_SHOOTING', inplace = True)

In [27]:
df2.offense_category.replace(to_replace= ['MURDER','HOMICIDE - CRIMINAL - SHOOTING - FATAL','HOMICIDE - CRIMINAL - OTHER WEAPON','MURDER AND NON-NEGLIGENT MANSLAUGHTER','HOMICIDE - CRIMINAL - UNSPECIFIED WEAPON'], value = 'HOMICIDE', inplace = True)

In [30]:
df2.head()

,source,occurred_date,offense_category,firearm_ind,offense_group,domestic_violence_ind,family_violence_ind,gang_activity_ind,inside_outside,victim_age,victim_race,victim_sex,arrest_ind
0,BALTIMORE-MAIN,2017-07-26,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,22,BLACK,MALE,NaN
1,BALTIMORE-MAIN,2017-07-26,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,53,BLACK,FEMALE,NaN
2,BALTIMORE-MAIN,2017-07-25,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,19,BLACK,MALE,NaN
3,BALTIMORE-MAIN,2017-07-25,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,29,BLACK,MALE,NaN
4,BALTIMORE-MAIN,2017-07-24,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,22,BLACK,MALE,NaN

In [33]:
df2.firearm_ind.unique()

array(['Y', 'N', 'OTHER'], dtype=object)

In [32]:
df2.firearm_ind.replace(to_replace= ['UNCLEAR','MISSING','UNKNOWN', 'UNSPECIFIED'], value = 'OTHER', inplace = True)

In [38]:
df2.offense_group.unique()

array(['Non-Fatal Shooting', 'Homicide', 'Assault'], dtype=object)

In [35]:
df2.offense_group.replace(to_replace= ['Homicide - Gun','Homicide - Other Weapon','Homicide - Weapon Unspecified'], value = 'Homicide', inplace = True)

In [37]:
df2.offense_group.replace(to_replace= ['Agg Assault - Gun','Agg Assault - Other Weapon','Agg Assault - Weapon Unspecified'], value = 'Assault', inplace = True)

In [40]:
df2.domestic_violence_ind.unique()

array([nan, 'MISSING-JOIN', 'N', 'Y', 'MISSING', 'UNCLEAR'], dtype=object)

In [43]:
df2.domestic_violence_ind.dropna(inplace= True)

In [48]:
df2.domestic_violence_ind.unique()

array(['MISSING-JOIN', 'N', 'Y', 'MISSING', 'UNCLEAR'], dtype=object)

In [49]:
df2.offense_group.replace(to_replace= ['MISSING-JOIN','MISSING', 'UNCLEAR'], value = 'DROP', inplace = True)

In [89]:
df2.domestic_violence_ind.value_counts()
#Need to figure out how to drop Labels other than 'N' and 'Y'

N          369322
Y           98072
combine      2069
Name: domestic_violence_ind, dtype: int64

In [88]:
df2.domestic_violence_ind.replace(to_replace= ['MISSING-JOIN','MISSING', 'UNCLEAR'], value = 'combine', inplace = True)

In [58]:
df2.domestic_violence_ind.drop(df2.domestic_violence_ind['MISSING-JOIN'], axis = 0)

KeyError: 'MISSING-JOIN'

In [97]:
df2.family_violence_ind.value_counts()

N          41224
Y           3608
combine      200
Name: family_violence_ind, dtype: int64

In [90]:
df2.family_violence_ind.replace(to_replace= ['MISSING', 'UNCLEAR'], value = 'combine', inplace = True)

In [96]:
df2= df2[df2.family_violence_ind != 'combine']

C:\Users\Akshay Indusekar\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [62]:
df2.family_violence_ind.drop('MISSING', axis = 0)

KeyError: "['MISSING'] not found in axis"

In [67]:
df2.family_violence_ind.isnull().sum()

0

In [68]:
df2.family_violence_ind.unique()

array(['N', 'UNCLEAR', 'MISSING', 'Y'], dtype=object)

In [66]:
df2.family_violence_ind.dropna(inplace = True)

In [72]:
df2.gang_activity_ind.unique()

array(['N', 'UNKNOWN', 'Y', 'MISSING', 'INV', 'POS', 'UNK', 'REL', 'NOT',
       'NP', 'MAY', 'NO0', 'UNCLEAR', 'UNSPECIFIED'], dtype=object)

In [84]:
df2.gang_activity_ind.value_counts()

N          104130
combine     48802
Y           25236
Name: gang_activity_ind, dtype: int64

In [80]:
df2.gang_activity_ind.dropna(inplace = True)

In [83]:
df2.gang_activity_ind.replace(to_replace= ['INV', 'POS', 'UNK', 'REL', 'NOT','NP', 'MAY', 'NO0', 'UNCLEAR', 'MISSING', 'UNKNOWN','UNSPECIFIED'], value = 'combine', inplace = True)

In [85]:
df2.gang_activity_ind.drop('combine', axis = 0)

KeyError: "['combine'] not found in axis"

In [98]:
df2.head()

,source,occurred_date,offense_category,firearm_ind,offense_group,domestic_violence_ind,family_violence_ind,gang_activity_ind,inside_outside,victim_age,victim_race,victim_sex,arrest_ind
0,BALTIMORE-MAIN,2017-07-26,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,22,BLACK,MALE,NaN
1,BALTIMORE-MAIN,2017-07-26,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,53,BLACK,FEMALE,NaN
2,BALTIMORE-MAIN,2017-07-25,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,19,BLACK,MALE,NaN
3,BALTIMORE-MAIN,2017-07-25,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,29,BLACK,MALE,NaN
4,BALTIMORE-MAIN,2017-07-24,NON FATAL SHOOTING,Y,Non-Fatal Shooting,NaN,NaN,NaN,NaN,22,BLACK,MALE,NaN

In [105]:
df2.inside_outside.unique()

array(['combine', 'OUTSIDE', 'INSIDE'], dtype=object)

In [102]:
df2.inside_outside.dropna(inplace = True)

In [104]:
df2.inside_outside.replace(to_replace= ['MISSING-JOIN', 'MISSING', 'UNKNOWN', 'AMBIGUOUS'], value = 'combine', inplace = True)

In [108]:
df2.victim_age.unique() #Have to figure out what to do with some of the weird ages that are over 100 or in 90s and 'UNDER 18' value

array([22.0, 53.0, 19.0, 29.0, 36.0, 23.0, 32.0, 25.0, 39.0, 40.0, 30.0,
       48.0, 33.0, 15.0, 20.0, 34.0, 26.0, 18.0, 24.0, 17.0, 28.0, 27.0,
       42.0, 52.0, 54.0, 21.0, 41.0, 38.0, 35.0, 16.0, 13.0, 55.0, 31.0,
       45.0, 10.0, 51.0, 66.0, 37.0, 44.0, 46.0, 59.0, 67.0, 2.0, 49.0,
       90.0, 14.0, 64.0, 58.0, 50.0, 47.0, 43.0, 0.0, 57.0, 68.0, 3.0,
       4.0, 8.0, 62.0, 61.0, 6.0, 56.0, 60.0, 12.0, 82.0, 11.0, 9.0, 93.0,
       85.0, 65.0, 70.0, 72.0, 97.0, 63.0, 79.0, 83.0, 73.0, 1.0, 69.0,
       91.0, 77.0, 71.0, 7.0, 84.0, 86.0, 80.0, 5.0, 74.0, 78.0, 81.0,
       76.0, 88.0, 75.0, 89.0, 87.0, 94.0, 96.0, 92.0, 98.0, 105.0, 95.0,
       114.0, 115.0, 215.0, 116.0, 217.0, 99.0, '51', '31', '23', '32',
       '66', '17', '48', '34', '63', '20', '52', '25', '26', '72', '39',
       '64', '47', '18', '61', '28', '44', '38', '94', '19', '36', '50',
       '55', '22', '33', '24', '27', '53', '37', '46', '59', '15', '29',
       '35', '65', '43', '12', '45', '41', '21', '30', '42', '75', '14',
       '95', '57', '40', '16', '49', '10', '82', '54', '13', '56', '69',
       '58', '60', '86', '62', '11', '68', '70', '73', '81', '78', '79',
       '67', '77', '74', '83', '71', '76', '88', '85', '92', '87', '84',
       '91', '89', '97', '80', '99', '98', '90', 'UNDER 18', '0', '1',
       '3', '2', '4', '9', '6', '8', '5', '93', '7', 109.0, 193.0, 100.0],
      dtype=object)

In [107]:
df2.victim_age.dropna(inplace = True)

In [112]:
df2.victim_race.dropna(inplace = True)

In [125]:
df2.victim_race.unique()

array(['BLACK', 'WHITE', 'HISPANIC', 'OTHER', 'ASIAN'], dtype=object)

In [116]:
df2.victim_race.replace(to_replace= ['B', 'BLACK NON-HISPANIC', 'BLACK-HISPANIC', 'BLACK HISPANIC', ], value = 'BLACK', inplace = True)

In [118]:
df2.victim_race.replace(to_replace= ['ASIAN PACIFIC ISLANDER', 'INDIAN', 'ASIAN/PACIFIC ISLANDER', 'MIDDLE EASTERN','NATIVE HAWAIIAN OR PACIFIC ISLANDER','OTHER ASIAN', 'LAOTIAN', 'HAWAIIAN', 'PACIFIC ISLANDER', 'ASIAN OR PACIFIC ISLANDER','ASIAN/PAC.ISL', 'FILIPINO', 'KOREAN', 'VIETNAMESE',
       'SAMOAN', 'CHINESE', 'CAMBODIAN', 'JAPANESE', 'ASIAN INDIAN',
       'GUAMANIAN'  ], value = 'ASIAN', inplace = True)

In [120]:
df2.victim_race.replace(to_replace= ['W', 'WHITE NON-HISPANIC'], value = 'WHITE', inplace = True)

In [122]:
df2.victim_race.replace(to_replace= ['LATIN/HISPANIC', 'WHITE HISPANIC'], value = 'HISPANIC', inplace = True)

In [124]:
df2.victim_race.replace(to_replace= ['UNKNOWN', 'A', 'I', 'H', 'U', 'O', 'AMRICN INDIAN/ALSKN NTV',
       'AMERICAN INDIAN/NATIVE AMERICAN', 'MISSING', 'P',
       'NATIVE AMERICAN', 'UNDER 18', 'M', 'IB', 'OTH'], value = 'OTHER', inplace = True)

In [126]:
df2.victim_race.value_counts()

BLACK       131804
WHITE        73255
HISPANIC     65044
OTHER        13230
ASIAN         4337
Name: victim_race, dtype: int64

In [135]:
df2.victim_sex.unique()

array(['MALE', 'FEMALE', 'OTHER'], dtype=object)

In [128]:
df2.victim_sex.dropna(inplace = True)

In [130]:
df2.victim_sex.replace(to_replace= ['M'], value = 'MALE', inplace = True)

In [132]:
df2.victim_sex.replace(to_replace= ['F'], value = 'FEMALE', inplace = True)

In [134]:
df2.victim_sex.replace(to_replace= ['TRANSGENDERED', 'UNCLEAR', 'UNKNOWN', 'UNK',
       'TEST', 'U', 'X', 'H', 'UNDER 18', 'M ', 'MISSING', 'OTH'], value = 'OTHER', inplace = True)

In [142]:
df2.victim_sex.value_counts()

MALE      186090
FEMALE     97973
OTHER       3547
Name: victim_sex, dtype: int64

In [144]:
df2.arrest_ind.unique()

array(['N', 'Y', 'UNCLEAR'], dtype=object)

In [138]:
df2.arrest_ind.dropna(inplace = True)

In [143]:
df2.arrest_ind.replace(to_replace= ['MISSING', 'UNKNOWN'], value = 'UNCLEAR', inplace = True)

In [145]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747658 entries, 0 to 747657
Data columns (total 13 columns):
source                   747658 non-null object
occurred_date            747572 non-null object
offense_category         431064 non-null object
firearm_ind              747658 non-null object
offense_group            747658 non-null object
domestic_violence_ind    469463 non-null object
family_violence_ind      45032 non-null object
gang_activity_ind        178168 non-null object
inside_outside           2842 non-null object
victim_age               277789 non-null object
victim_race              287670 non-null object
victim_sex               287610 non-null object
arrest_ind               687899 non-null object
dtypes: object(13)
memory usage: 43.2+ MB